@model CA_Practice2.Models.Car

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.engineSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.engineSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
